:root {
    --cor-primaria: #AED2FF;
    --cor-secundaria: #E55604;
    --cor-terciaria: #B4B4B3;
    --cor-quaternaria: #B4B4B3;
    --cor-fundo: #26577C;
}

html {
    scroll-behavior: smooth; /* Comportamento-da-rolagem: suave */
}

body {
    background-color: var(--cor-fundo);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px; /*diferente de button*/
    margin: 25px 50px 25px 50px;
    text-align: justify;
    padding: 25px;
}

.menu-principal li a{
    padding: 3px;
    color: var(--cor-terciaria);
    text-decoration: dashed;
}

.sub-lista li {
    padding: 3px;
    color: var(--cor-secundaria);
}

.titulo-de-artigo {
    color: var(--cor-primaria);
    line-height: 3;
    font-weight: bold;
    font-size: 24pt;
}

.titulo-de-pagina {
    color: var(--cor-primaria);
    line-height: 2;
    font-weight: bold;
    font-size: 22pt;
}

.sub-titulo {
    color: var(--cor-primaria);
    line-height: 2;
    font-weight: bold;
    font-size: 20pt;
}

p {
    color: var(--cor-secundaria);
    line-height: 20px;
}

a, h4, details {
    color: var(--cor-secundaria);
}

pre {
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    border:4px ridge var(--cor-terciaria);
    padding: 20px;
    margin: 20px 0 20px 0;
    margin-bottom: 10px;
    border-radius: 20px;
}

.teste-texto {
    padding: 20px;
}

.teste-texto p {
    padding: 20px;
}

.teste-texto > p + p {
    padding-top: 0;
}

.artic h2{
    padding: 30px;
    font-size: large;
    color: var(--cor-quaternaria);
}

article p{
    padding: 10px;
    background-color: var(--cor-primaria);
}

article p:first-of-type {
    border-radius: 20px 0 0 0;
}

article p:last-of-type {
    border-radius: 0 0 20px 0;
}

article p:only-of-type {
    border-radius: 20px 0 20px 0;
}